---
import { LoginButton } from "@/components/auth/login/login-button";
import { TwitterLoginButton } from "@/components/auth/login/twitter-login-button";
import AuthLayout from "@/layouts/AuthLayout.astro";
import { CreateUserForm } from "@/components/auth/register/create-user-form";
---

<AuthLayout
  title="Register"
  description="Create a new account using email and password"
>
  <div class="flex flex-col gap-6">
    <CreateUserForm client:load />
    <LoginButton client:load />
    <TwitterLoginButton client:load />
    <p>
      Si cuentas con una cuenta inicia sesión <a
        class="underline underline-offset-4"
        href="/login">aqui</a
      >
    </p>
  </div>
</AuthLayout>
