---
// Welcome.astro
import { getSession } from "auth-astro/server";

import { LoginButton } from "./auth/login/login-button";
import { LogoutButton } from "./auth/login/logout-button";
const session = await getSession(Astro.request);
---

{
  session ? (
    <>
      <p>Bienvenido, {session.user?.name}</p>
      <LogoutButton client:load />
    </>
  ) : (
    <LoginButton client:load />
  )
}
