---
import "@/styles/global.css";
import { Toaster } from "@/components/ui/sonner";
const { title = "Astro Basics", description = "", meta = [] } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    {
      meta.map(
        (
          entry: astroHTML.JSX.IntrinsicAttributes &
            astroHTML.JSX.MetaHTMLAttributes
        ) => <meta {...entry} />
      )
    }
  </head>
  <body>
    <slot />
    <Toaster richColors client:idle />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
